<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto&display=swap" rel="stylesheet">
<style>
body{
margin-top:100px;

}
form{
border-style:groove;
border-color:red;
width:300px;
}
table{
padding-top:30px;
padding-bottom:30px;
}
h2{
font-family:EB Garamond;
font-weight:700;
font-weight:bolder;
text-decoration:underline;
}
td{
font-family:EB Garamond;
font-weight:700;
font-weight:bolder;
padding:10px;
}
</style>
</head>
<body>
    <center>
<form method="post">
<h2>Details</h2>
<table>
<tr>
<td>Name</td><td><input type="text" name="name"></td>
</tr>
<tr>
<td>Dob</td><td><input type="date" name="date"></td>
</tr>
<tr>
<td>Java Skills</td><td>0<input type="range" min="0" max="5" name="skills">5</td>
</tr>
<tr>
<td>Email</td><td><input type="email" name="email"></td>
</tr>
<tr>
<td>Gender</td><td><input type="radio" name="gender" value="male">Male
					<input type="radio" name="gender" value="female">Female</td>
</tr>
<tr>
<td>Resume</td><td><input type="file" name="file"></td>
</tr>
</table>
<input type="submit" >
</form>
</center>
</body>
</html>